@charset "UTF-8";
button {
  cursor: pointer;
  font-size: 21px;
  color: #fff;
  line-height: 1;
  padding: 15px 20px;
  background-color: #5b7e99;
  border: 0;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
}
button span {
  position: relative;
  /* z-indexを効かせるためだけのrelative */
  z-index: 2;
  /* 「キラン！」のテキストのみを上に、ボタン本体は一番下に */
}
button:after {
  content: "";
  width: 50px;
  height: 100px;
  position: absolute;
  top: -25px;
  left: -75px;
  background-color: #fff;
  opacity: .4;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  z-index: 1;
  -webkit-transition: none;
  transition: none;
}
button:hover:after {
  left: calc(100% + 25px);
  /* position: leftを計算値で動かす */
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
